PRIVATE_PORT=4000
PUBLIC_GATEWAY_URL=http://<IP_ПУБЛИЧНОГО_VPS>:3000
GATEWAY_SECRET=6e4d3f1c8a9b0d2e5f7a1c3b9d8e6f4a2c0b7d9e1f3a5b8c6d4e2f0a9b7c5d1e
SESSIONS_DIR=./sessions
PRIVATE_UI_TOKEN=change_this_private_viewer_token
MAX_STORED_MESSAGES_PER_CHAT=500
